.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  background-position: center;
  height: 100px;
  width: 700px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: gray;
  font: 15px Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  color: gray;
  font-family: sans-serif;
  font-kerning: 2px;
}

.rect{
  background: linearGradient(red, yellow);

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
